* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(174, 164, 164);
  gap: 5px;
}

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  background-color: bisque;
}

.header {
 display: grid;
 background-color: palevioletred;
}

.main-content {
  display: grid;
  background-color: chartreuse;
}